Makefile
Makefile.in
.deps
.libs
*.o
*.a
*.lo
*.la
*.map
*.pc
tags
/configure
/config.*
/missing
/libtool
/ltmain.sh
/stamp-h1
/install-sh
/aclocal.m4
/compile
/depcomp
/autom4te.cache
/OpenIPMI.spec
/include/OpenIPMI/ipmiif.h
